<main >
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mt-0 pt-0 mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="../../../assets/logo.png" width="150">
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <ng-container *ngFor="let categoria of categorias">
        <p class="text-muted">{{categoria.nome}}</p>
        <hr>
        <li *ngFor="let menu of obterMenuFiltrado(categoria.id)">
          <a [routerLink]=[menu.rota] class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#speedometer2"></use>
            </svg>
            {{menu.descricao}}
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white container" >
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">Produtos</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
      <ng-content select="[breadcrumb]"></ng-content>
      <ng-content select="[content]"></ng-content>
    </div>
  </div>
</main>
